{% load static %}

<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Register</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <center id="resigter_result">


                </center>
                <form class="form-horizontal" method="post" action="#" id="register_form">

                    <div class="form-group">
                        {#                        <label for="name" class="cols-sm-2 control-label">Your Name</label>#}
                        <div class="cols-sm-10" id="register_name_form">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="register_name"
                                       placeholder="Enter your Name" autofocus/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {#                        <label for="email" class="cols-sm-2 control-label">Your Email</label>#}
                        <div class="cols-sm-10" id="register_email_form">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                   aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="email" id="register_email"
                                       placeholder="Enter your Email"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        {#                        <label for="password" class="cols-sm-2 control-label">Password</label>#}
                        <div class="cols-sm-10" id="register_password_form">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="register_password"
                                       placeholder="Enter your Password"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {#                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>#}
                        <div class="cols-sm-10" id="register_confirm_form">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                   aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="confirm" id="register_confirm"
                                       placeholder="Confirm your Password"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button type="button" class="btn btn-lg btn-primary btn-block btn-signin" id="submit_register">
                            Register
                        </button>
                    </div>

                </form>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="#" id="register_login">Login</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>