{% load static %}

<div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Welcome </h3>
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>

            <div class="modal-body">

                Updated successfully !
            </div>
        </div>
    </div>
</div>