{% extends 'layout/template.html' %}
{% load static %}

{% block content %}
    <center>
        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10" style="margin-top: 300px">
                    <h2 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1" style="font-size: 2.25rem;">
                        Sorry, your payment is failed !</h2>
                    <div class="row" style="background-color: white; color: black;border-radius: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}