{% load static %}

  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js'%}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js'%}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js'%}"></script>
  <script src="{% static 'assets/parallax/jarallax.min.js'%}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js'%}"></script>
  <script src="{% static 'assets/theme/js/script.js'%}"></script>
{#  <script src="{% static 'assets/custom/js/jquery-1.12.4.js'%}"></script>#}
  <script src="{% static 'assets/custom/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/custom/js/dataTables.responsive.min.js'%}"></script>
